* {
    text-align: center;
    font-size: 1.5rem;
}

h1, h2 {
    text-align: center;
    margin-block: 1rem 4rem;
    background-color: blueviolet
}

.list-index {
    width: 50%;
    margin-inline: auto;
    text-align: center;
    list-style-type: none;
    background-color: brown;
}

.ingredient li, .steps li {
    text-align: start;
}


a{
    text-decoration: none;
    color: black;
    font-size: 3rem;
    line-height: 3rem;
}